:root {
    --padding: 10px;
    --borderRadius: 5px
}

/* total searching module */
.SearchModule {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    min-width: 90%;
    padding: 10px;
}

/* scrappedValueWithHeading and scrappedValueWithParas*/
.scrappedValueWithHeading,
.scrappedValueWithParas {
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
}

.inputSearchField {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1000
}

/* searching Field*/
#searching {
    padding: var(--padding);
    max-width: 99.9%;
    min-width: 99.9%;
    outline: none;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: var(--borderRadius);
}

/* searching Button*/
.searchButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

/* search Result */
.searchResult {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--borderRadius);
}

/* parasResult */
.paraResult {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--borderRadius);
}